html, body{
    height: 100%;
    width: auto;
    margin: none;
    padding: none;
}

body{
    background-image: url(https://media.istockphoto.com/id/1188760148/vector/street-road-city-without-traffic-landscape-vector-illustration.jpg?s=2048x2048&w=is&k=20&c=ybD89WderfthuJH_YAdoECUE7ZFsgmQUToyeeaUnV3w=);
    background-repeat: no-repeat;
    background-size: cover;
}
